.app-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.language-selector {
    flex: 1;
    max-width: 200px; /* Reduced max-width to allow more space for the editor */
    display: flex;
    flex-direction: column;
}

.editor-container {
    flex: 6; /* Increased flex value to occupy more space */
    display: flex;
    flex-direction: column;
    
    max-width: 1600px;
}

.output-container {
    margin-top: 20px;
    flex: 1;
    max-width: 1800px; /* Ensure output container is wide enough */
}

.output-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    height: 150px;
    overflow-y: auto;
    background-color: #1e1e1e;
    color: white;
}

.output-box.error {
    border-color: #e53e3e;
    background-color: #2d2d2d;
}

.leaderboard-container {
    flex: 1;
    max-width: 250px;
}

.leaderboard-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    background-color: #f7fafc;
    color: #333; 
}

.sample-problem-description {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}